<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete{{index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure delete?</p>
      </div>

      <!--Body-->
      <div class="modal-body">

        <i class="fas fa-times fa-4x animated rotateIn"></i>

      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <form id="remove-message{{index}}" action="/message/message-delete/{{_id}}" method="POST"></form>
        <a href="javascript:document.getElementById('remove-message{{index}}').submit()" class="btn  btn-outline-danger">Yes</a>
        <a class="btn  btn-danger waves-effect" href="/message/myMessages">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>