<footer>
    <div class="custom-footer">
        <div class="contacts">
            <h5 class="h5">Contacts us</h5>
            <div><i class="fas fa-map-marker-alt"></i> Prohlada Avenue 1</div>
            <div><i class="fas fa-globe-africa"></i> Gabrovo 5300 BG.</div>
            <div><i class="fas fa-envelope"></i> Pavel.Runchev@gmail.com</div>
            <div><i class="fas fa-phone"></i> 0879 999 436 Free call</div>
        </div>
        <div class="links">
            <h5 class="h5">Links</h5>
            <div class="inner-links">
                <a class="" href="/info/contact-us" data-pjax="#pjax-container">Contacts us</a>
                <a class="" href="/info/special-thanks" data-pjax="#pjax-container">Spacial Thanks</a>
                <a class="" href="/info/technology-software" data-pjax="#pjax-container">Technology</a>
                <a class="" href="/info/support" data-pjax="#pjax-container">Support</a>
            </div>
        </div>
        <div class="partners">
            <h5 class="h5">Partners</h5>
            <div class="icons py-3">
                
                <a class="" onclick="window.open('https://facebook.com/');"><i class="fab fa-facebook blue-gradient"></i></a>
                <a class="" onclick="window.open('https://github.com/');"><i class="fab fa-github cloudy-knoxville-gradient"></i></a>
                <a class="" onclick="window.open('https://youtube.com/');"><i class="fab fa-youtube peach-gradient"></i></a>
                <a class="" onclick="window.open('https://linkedin.com/');"><i class="fab fa-twitter purple-gradient"></i></a>
            </div>
        </div>

        <div class="project">
            <h5 class="h5">Project</h5>
            <div>Project code - <a class="font-weight-bold text-dark" onclick="window.open('https://github.com/');">GitHub</a> <i
                    class="fab fa-github github-icon"></i></div>
            <div>Project deployed - <a class="font-weight-bold heroku-name" onclick="window.open('https://heroku.com/');">Heroku</a> <img src="/img/heroku.jpg"
                    class="heroku-icon" alt="logo" /></div>
            <div>Database - <a class="font-weight-bold text-success" onclick="window.open('https://mongodb.com/');">MongoDB</a> <img src="/img/MongoDB.png"
                    class="mongoDb-icon" alt="logo" /></div>
        </div>
    </div>
    <p class="text-center font-italic text-light">&copy; 2019 Copyright: Blogger - All Rights Reserved!</p>
</footer>