<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2 col-sm-12 px-sm-0" data-ride="carousel">

    <div class="controls-top d-flex justify-content-center">
        <a class="black-text font-bigger" href="#multi-item-example" data-slide="prev"><i
                class="fas fa-angle-left fa-3x pr-3"></i></a>
        <a class="black-text" href="#multi-item-example" data-slide="next"><i
                class="fas fa-angle-right fa-3x pl-3"></i></a>
    </div>

    <div class="carousel-inner col-sm-12 px-sm-0" role="listbox">

        <!--First slide-->
        <div class="carousel-item active col-sm-12 px-sm-0">

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/fq_84l6Cvl0"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vU8l5brSD9w"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9Yam5B_iasY"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
                        allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item col-sm-12 px-sm-0">

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TRicxVVi_yk"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vr0qNXmkUJ8"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IzS7ga4twH4"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S4UHq_4jAGM"
                        allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item col-sm-12 px-sm-0">

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GoW8Tf7hTGA"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8YcvOsQdi3o"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-3 mb-3 video-box">
                <div class="embed-responsive embed-responsive-16by9 mb-4 video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/onOEns_MnC4"
                        allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
</div>