<div class="container-fluid send-message">
    <h3>Send message to user or admin.</h3>
    <div class="send-message-form">
        <h2 class="h2 text-center text-light"><i class="fas fa-comment mr-3"></i>Send Message</h2>

         {{#if globalError}}
            <p class="text-center text-danger font-weight-bold">{{globalError}}</p>
        {{/if}}
        <form action="/message/message-send" method="POST">
            <div class="md-form">
                <input type="text" id="form1" class="form-control" name="recieverName" value="{{fields.recieverName}}">
                <label for="form1" class="text-light">Reciever</label>
            </div>
            <div class="text-center text-light">Reciever must be email to authed user!</div>

            <div class="md-form">
                <textarea id="form2" class="md-textarea form-control" name="content" rows="3">{{fields.content}}</textarea>
                <label for="form2" class="text-light">Content</label>
            </div>

            <div class="row d-flex justify-content-center">
                <button type="submit" class="btn-sendMessage d-block mx-auto blue-gradient"><i id="spinner" class="fas fa-spinner"></i> Send</button>
            </div>
        </form>
    </div>
</div>