.server-errors {
    width: 100%;
    padding: 3% 0;
    h2 {
        @include title;
        .fa-users-cog {
            color: rgb(0, 98, 165);
        }
    }
    h2:after {
        @include line-below-title;
    }
    div legend {
        @include main-background-color;
        @include box-shadow;
        z-index: 1;
    }
    .inner-serverErrrors {
        background: rgba(255, 255, 255, 0.85);
        width: 100%;
        border-radius: 1rem;
        @include box-shadow;
        padding: 5% 0% 5% 5%;
        #clearErrors {
            cursor: pointer;
            color: rgb(0, 98, 165);
            display: block;
            text-align: right;
        }
        #clearErrors:hover {
            color: rgb(255, 2, 25);
        }
        .delete-row {
            color: rgb(255, 2, 25);
        }
        .delete-row:hover {
            color: rgb(200, 50, 50);
        }
        p {
            font-size: 14px;
        }
    }
}