.user-errors {
    width: 100%;
    padding: 3% 2%;
    h2 {
        @include title;
        .fa-users-cog {
            color: rgb(0, 98, 165);
        }
    }
    h2:after {
        @include line-below-title;
    }
    .admin-console {
        display: flex;
        justify-content: center;
        legend {
            width: 300px;
            @include main-background-color;
            @include box-shadow;
            z-index: 1;
        }
    }
    .inner-userErrrors {
        overflow: hidden;
        background: rgba(255, 255, 255, 0.85);
        width: 100%;
        border-radius: 1rem;
        @include box-shadow;
        padding: 5% 0% 5% 5%;
        #clearErrors {
            cursor: pointer;
            color: rgb(0, 98, 165);
            display: block;
            text-align: right;
        }
        #clearErrors:hover {
            color: rgb(255, 2, 25);
        }
        .delete-row {
            color: rgb(255, 2, 25);
        }
        .delete-row:hover {
            color: rgb(200, 50, 50);
        }
        p {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 767px) {
    .user-errors {
        h2 {
            font-size: 26px;
        }
        .admin-console legend {
            width: 200px;
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 576px) {
    .user-errors {
        h2 {
            font-size: 22px;
        }
    }
}