.article-create {
    padding: 3% 2%;
    .inner-articleCreate {
        padding: 1%;
        @include form-background-color;
        @include box-shadow;
        border-radius: 0.5rem;
        border: 2px solid #fff;
        & h3 {
            text-align: center;
            color: #fff;
            padding: 0;
            font-weight: bold;
        }
        h3:after {
            background: #fff;
        }
        & form .row-input {
            display: flex;
            justify-content: space-around;
        }
        & form .row-input .md-form .label-text {
            font-size: 24px;
            color: #fff;
        }
        & form .row-input .md-form .label-select {
            font-size: 20px;
            margin-bottom: 4rem;
            padding-bottom: 4rem;
        }
        & form .row-input .md-form .form-control:focus {
            border-color: #fff;
            outline: none;
            background-color: none;
        }
        & form .row-input .md-form .select-option {
            color: #fff;
            margin-top: 3rem;
        }
        & form .row-input .md-form .select-option option {
            background: none;
            color: #000;
        }
        & form .row-input .md-form input {
            margin-top: 20px;
            color: #fff;
        }
        // placeholder color Chrome
        & form .row-input .md-form input::placeholder {
            color: #fff;
            font-weight: normal;
        }
        // placeholder color FireFox
        & form .row-input .md-form input:-ms-input-placeholder {
            color: #fff;
            font-weight: normal;
        }
        & form .form-group .label-content {
            display: block;
            text-align: left;
            color: #fff;
            font-size: 24px;
            padding-left: 1rem;
        }
        & form .d-flex .md-form p.info {
            font-size: 12px;
        }
        & .btn-createArticle {
            @include btn-submit-view;
            margin: 1% auto;
        }
        & .btn-createArticle:hover {
            @include btn-hover-shadow;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 991px) {
    .article-create {
        .inner-articleCreate {
            width: 94%;
            min-width: 94%;
            max-width: 94%;
            form .d-flex .md-form .label-text {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .article-create {
        .inner-articleCreate {
            form .row-input {
                width: 100%;
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .article-create {
        .inner-articleCreate {
            width: 94%;
            form .row-input .md-form .label-text {
                font-size: 16px;
            }
            form .form-group .label-content {
                font-size: 16px;
            }
        }
    }
}