.article-all {
    .article-list {
        width: 100%;
        margin: 2% auto;
        display: block;
        padding: 0%;
        .card {
            width: 70%;
            margin: 0 auto 50px auto;
            padding: 5%;
            @include box-shadow;
            .card-body {
                padding-left: 0;
                padding-right: 0;
            }
            span .read-more {
                font-size: 22px;
                float: right;
                font-weight: bold;
            }
        }
        .empty-container {
            @include form-background-color;
            @include box-shadow;
            border-radius: 0.5rem;
            margin: 20% auto;
            h3 {
                color: #fff;
                text-shadow: 1px 1px rgb(0, 0, 0);
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .article-all .article-list .card {
        width: 83%;
    }
}

@media screen and (max-width: 991px) {
    .article-all .article-list .card {
        width: 94%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 94%;
    }
    .article-all {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        .article-list .card {
            width: 98%;
        }
    }
}

@media screen and (max-width: 576px) {
    .article-all {
        .article-list .card {
            width: 95%;
        }
    }
}