.category-findArticlesByCategory {
    .article-list {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 0%;
        .card {
            width: 70%;
            padding: 5%;
            margin: 0 auto 50px auto;
            @include box-shadow;
            .card-body {
                padding-left: 0;
                padding-right: 0;
            }
            span .read-more {
                font-size: 22px;
                float: right;
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .category-findArticlesByCategory .article-list .card {
        width: 83%;
    }
}

@media screen and (max-width: 991px) {
    .category-findArticlesByCategory .article-list .card {
        width: 94%;
    }
}

@media screen and (max-width: 576px) {
    .category-findArticlesByCategory {
        padding-left: 0;
        padding-right: 0;
    }
}