.send-message {
    h3 {
        @include title;
    }
    h3:after {
        @include line-below-title;
    }
    .send-message-form {
        width: 70%;
        margin: 0 auto 20px auto;
        background: #fff;
        @include box-shadow;
        border: 2px solid rgb(0, 98, 165);
        padding: 2%;
        border-radius: 0.5rem;

        h2 {
            color: rgb(0, 98, 165);
        }
        #form1,
        #form2 {
            color: rgb(0, 98, 165);
        }
        #form1:focus,
        #form2:focus,
        #label-form1:focus,
        #label-form2:focus {
            border-color: rgb(0, 98, 165);
            outline: none;
            background-color: none;
        }

        .btn-div {
            width: 100%;
            max-width: 100%;
            margin: 3% 0;
            & .btn-sendMessage {
                @include btn-submit-view;
            }
            & .btn-sendMessage:hover {
                @include btn-hover-shadow-black;
                font-weight: bold;
            }
        }

        form .md-form label,
        form .info-text {
            color: rgb(0, 98, 165);
            font-weight: bold;
        }
    }

    .admin-online {
        width: 600px;
        padding: 2%;
        background: #fff;
        margin: 0 auto 5% auto;
        border-radius: 0.5rem;
        @include box-shadow;
        border: 2px solid rgb(0, 98, 165);
        display: flex;
        flex-direction: column;

        p {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 900px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        max-width: 100%;
    }
    .send-message {
        padding: 0;
        width: 100%;
        max-width: 100%;
        & .send-message-form,
        & .admin-online {
            width: 90%;
            max-width: 90%;
        }
    }
}

@media screen and (max-width: 600px) {
    .send-message {
        h3 {
            font-size: 22px;
        }

        .send-message-form {
            width: 98%;
            max-width: 98%;
            
            h2 {
                font-size: 20px;
            }
        }

        .admin-online {
            width: 98%;
            max-width: 98%;
        }
    }
}