<div class="container-fluid px-0 home">
    <h1 class="text-center">Welcome to Blog site!</h1>
    <h4 class="text-center font-italic my-0 py-0">Create your article with us.</h4>
    

    {{#if isAuthed}}
        {{> authed-home}}
    {{else}}
        {{> guest-home}}
    {{/if}}
</div>