<div style="width: 100%">
    <h1 style="text-align: center">Page not Found</h1>
    <h2 style="text-align: center; color: #0094D2">Error 404</h2>
    <img style="margin: 2% auto; display: block" src="/img/404.jpeg" >
    <a style="text-align: center; 
        margin: 0 auto; display: 
        block; font-size: 24px; 
        color: #0094D2;
        text-decoration: none;"
        href="/"
    >
        Back
    </a>
</div>

