<div style="width: 100%">
    <h1 style="text-align: center" class="pt-4">SERVER ERROR</h1>
    <img style="margin: 0.5% auto; display: block" src="/img/serverError.jpg" >
    <div class="d-flex justify-content-center">
        <a href="/" class="btn btn-default ">Back</a>
    </div>
</div>