<div class="container contacts-us">
    <h2 class="h2">Contacts Us</h2>
    <div class="inner-contacts">
        <p class="owner text-center"><span>Owner: </span> Pavel Runchev</p>
        <p class="owner-email text-center"><span>Email: </span> Pavel.Runchev@gmail.com</p>
        <p class="owner-linkedIn text-center"><span>LinkedIn: </span> Pavel-Runchev</p>
        <p class="owner-phone text-center"><span>Phone: </span>0879 999 436</p>

        <p class="admin text-center"><span>Admin: </span> Borislav Batkov</p>
        <p class="admin-email text-center"><span>Email: </span> abobo@abv.bg</p>
        <p class="admin-skype text-center"><span>Skype: </span> aboboGb</p>
        <p class="admin-phone text-center"><span>Phone: </span>0879 774 903</p>

        <p class="development-softuni text-center"><span>Development University:</span> SoftUni</p>
        <img src="/img/softuni-logo.png" class="softuni-logo text-center" alt="logo"/>
        <p class="developer text-center"><span>Developer Studio:</span> RAIDERS</p>
        <img src="/img/raiders-team.jpg" class="developer-logo text-center" alt="logo"/>       
    </div>
</div>