<div class="container special-thanks">
    <h2 class="center-text">Special Thanks</h2>
    <div class="inner-support waves-effect waves-light">
        <div class="text-center mb-3">
            <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="img-fluid rounded" alt="logo">
        </div>
        <h3 class="h5"><i class="fab fa-mdb"></i></h3>
        <p class="text-light font-italic">Material Design for Bootstrap</p>
        <p class="text-light font-italic mb-5">All materials which used is free!</p>

        <div class="text-center mb-4">
            <img src="/img/softuni-logo.png" class="img-fluid rounded" width="192" height="192" alt="logo">
        </div>
        <h3 class="h5 mb-3">SoftUni - University</h3>
        <p class="text-light font-italic">All lectors from JS Education!</p>
        <p class="text-light font-italic">All lectors from .NET Education!</p>
    </div>
</div>