<div class="container support">
    <h2 class="center-text">Support</h2>
    <div class="inner-support">
        <h5 class="h5 os">OS</h5>
        <p class="android"><i class="fab fa-android"></i> Android</p>
        <p class="linux"><i class="fab fa-linux"></i> Linux</p>
        <p class="windows"><i class="fab fa-windows"></i> Windows</p>
        <h5 class="h5 browsers">Browsers</h5>
        <p class="chrome"><i class="fab fa-chrome"></i> Chrome</p>
        <p class="firefox"><i class="fab fa-firefox"></i> FireFox</p>
        <p class="edge"><i class="fab fa-edge"></i> Edge</p>
    </div>
</div>