<div class="container technology">
    <h2 class="h2">Technology Software</h2>
    <div class="inner-technology">
        <p class="text-center express"><i class="fab fa-js-square mr-2"></i>Expres JS</p>
        <p class="text-center node"><i class="fab fa-node mr-2"></i> Node JS</p>
        <p class="text-center bootstrap"><i class="fab fa-bootstrap mr-2"></i>Bootstrap 4</p>
        <p class="text-center sass"><i class="fab fa-sass mr-2"></i> SASS</p>
        <p class="text-center html5"><i class="fab fa-html5 mr-2"></i> HTML5</p>
        <p class="text-center mongoose"><img src="/img/mongoose.jpg" class="mongoose img-thumbnail" alt="logo"> Mongoose</p>
    </div>
</div>